* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(lavender, seagreen, yellow, pink); 
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: rgb(238, 236, 236);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 2s, background-color 2s;
}

a:hover {
    color: rgb(10, 25, 47);
    background-color: rgb(255, 215, 0);
    border-radius: 5px;
}

.social {
    cursor: default;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 50px;
    background: linear-gradient(90deg, rgb(2, 8, 17), rgb(37, 63, 129)); 
    position: fixed;
    width: 95%;
    top: 0;
    z-index: 10000;
}

.logo_div img {
    height: 70px;
    width: auto;
    display: inline-block;
}

.nav_list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.search_icon img {
    width: 30px;
}

.hamburger_menu {
    position: absolute;
    display: none;
}

.nav_list_hamburger_menu {
    position: absolute;
    right: 0;
    background-color: rgb(37, 63, 129); 
    padding: 10px;
    width: 200px;
    display: none; 
    z-index: 10;
}

.nav_list_item {
    position: relative; 
}

.sub_menu {
    position: absolute;
    display: none;
    width: 150px;
    margin-top: 5px;
    background-color: rgb(10, 38, 80);
    padding: 0;
}

.nav_list_item:hover .sub_menu {
    display: block;
    list-style-type: none;
}

.sub_menu li a {
    display: block;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .nav_list, .search_icon {
        display: none;
    }

    .logo_div {
        width: 100%;
        margin-left: 0;
    }

    .hamburger_menu {
        display: block;
        right: 100px;
        top: 10px;
        width: 100px;
    }

    .hamburger_menu img {
        width: 50px;
    }

    .hamburger_menu:hover .nav_list_hamburger_menu {
        display: block;
        list-style-type: none;
    }

    .nav_list_hamburger_menu li {
        border-top: 1px solid black;
        margin-top: 6px;
        padding-top: 10px;
    }
}

main {
    width: 960px;
    margin: 0 auto;
    margin-top: 100px;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

main > figure img:hover {
    transform: scale(1.1);
}

article {
    background: url(../Media/article_background.png);
    background-size: 100% auto;
    color: black;
    border: 1px solid black;
    margin: 10px 5px;
    padding: 15px;
}

article > h3 {
    font-style: italic;
}

article:hover {
    background: rgb(79, 52, 2);
    color: white;
    transition: color 2s, background-color 2s;
}

article ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    border: 2px solid rgb(255, 215, 0);
    border-radius: 3px;
    transition: border-color 2s;
}

article:hover ul {
    border-color: rgb(255, 128, 0);
}


article ul li {
    font-style: italic;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.video_section iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.contact_button {
    position: fixed; 
    bottom: 100px; 
    right: 30px; 
    background-color: rgb(255, 215, 0);
    color: rgb(10, 38, 80);
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: 0 4px 8px black; 
    transition: background-color 1s, transform 1s;
}

.contact_button:hover {
    background-color: rgb(255, 128, 0);
    transform: scale(1.05);
    border-radius: 50px;
}

.bgm{
    position: fixed;
    top: 85px; 
    right: 20px;
    width: 200px;
    padding: 5px;
}

.bgm p {
    color: rgb(247, 216, 46);
    font-size: 20px;
    font-weight: bolder;
}

.bgm iframe {
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    background: linear-gradient(90deg, rgb(2, 8, 17), rgb(37, 63, 129)); 
    margin-top: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}



/* S15Champions Page */
.intro {
    padding-top: 50px; 
    text-align: center;
    background-color: rgb(250, 250, 245, 0.6); 
    padding: 50px 30px;
    border-radius: 30px;
    margin: 30px auto;
}

.s15feature {
    display: flex; 
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}

.features {
    background: none;
    background-color: rgba(197, 223, 224, 0.9);
    padding: 35px;
    border: 5px solid rgb(168, 144, 4);
    border-radius: 70px;
    cursor: default;
}

.intro h2 {
    font-size: 40px;
    color: rgb(10, 38, 80);
    margin-bottom: 15px;
}

.features h3 {
    border-bottom: 2px solid rgb(255, 128, 0); 
    margin-bottom: 15px;
}

.s15champions {
    text-align: center;
    margin: 50px auto;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 40px;
    width: 80%;
}

.s15champions h2 {
    margin: 30px 0 80px 0;
    font-size: 40px;
}

.championcard {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: auto;
    padding: 0 10px; 
    margin: 0 auto;
}

.card h3 {
    margin-top: 10px;
    color: rgb(48, 48, 48);
}

@media (max-width: 1050px) {
    .championcard {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 650px) {
    .championcard {
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* 1 cost - 5 cost htmls */
main > h2 { 
    text-align: center;
    font-size: 50px;
    color: rgb(252, 100, 29); 
    margin: 100px auto 0 auto;
}

.champion_grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(6,1fr); 
}

.grid_card {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 1s;
}

.grid_card:hover {
    transform: scale(1.1); 
}

.grid_card img {
    width: 100%;
}

.grid_card h3 {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgb(37, 63, 129); 
    color: rgb(240, 240, 240);
}

@media (max-width: 1100px) {
    .champion_grid {
        grid-template-columns: repeat(5, 1fr); 
    }
}

@media (max-width: 900px) {
    .champion_grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 700px) {
    .champion_grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 500px) {
    .champion_grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


/* s16 html */
.s16_container {
    width: 90%;
    margin: 100px auto;
    text-align: center;
}

.s16_container h1 {
    font-size: 60px;
    color: rgb(252, 100, 29); 
    margin-bottom: 30px;
}

.s16_container section {
    margin-top: 50px;
}

.s16_container section h2 {
    font-size: 40px;
    color: rgb(10, 38, 80);
    margin-bottom: 30px;
}

.official {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media (max-width: 1200px) {
    .official {
        grid-template-columns: 1fr; 
    }
}

.video_card {
    min-width: 500px;
    background-color: rgb(10, 38, 80);
    padding: 10px;
    border-radius: 10px;
}

.video_card iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.video-info h3 {
    color: rgb(255, 215, 0);
    margin: 15px auto;
}

.video-info p {
    color: rgb(240, 240, 240);
    font-size: 15px;
    padding: 10px;
}

.related-video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin-top: 50px;
}

.video_card_small {
    background: rgb(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    transition: transform 1s;
}

.video_card_small:hover {
    transform: translateY(15px);
}

.video_card_small iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.video_card_small h4 {
    color: rgb(10, 38, 80);
    margin: 10px 0;
    font-size: 17px;
}

.video_card_small p {
    font-size: 12px;
}




/* cosmetics.html */
.cosmetics_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .cosmetics_grid {
        grid-template-columns: 1fr; 
    }
}

.cosmetics_grid figure {
    position: relative;
    border: 3px solid rgb(255, 215, 0);
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 16/9; 
}

.cosmetics_grid figure:hover .preview_img {
    /* preview image hidden while putting mouse above it */
    opacity: 0;
    /* make the mouse be able to click the Youtube video */
    pointer-events: none;
}

.card_video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.preview_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    
    transition: opacity 1s;
    opacity: 1;
}

.card_info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 3;
    /* info hidden in the beginning */
    opacity: 0; 
}

.cosmetics_grid figure:hover .card_info {
    /* info appears */
    opacity: 1;
}

.card_info h3 {
    color: rgb(255, 217, 0);
    font-size: 20px;
}

.card_info p {
    color: rgb(233, 233, 233);
    font-size: 14px;
}



/* Contact.html */
